<div class="tab-content">
  <h1 class="text-center menu-title">
    <span class="arrow-btn">
      <% if Menu.find_by(id: @menu.id - 1) %>
        <%= link_to previous_menu_path(@menu), remote: true do %>
          <i class="arrow fa fa-arrow-circle-left"></i>
        <% end %>
      <% end %>
    </span>
    <%= @menu.title %>
    <span class="arrow-btn">
      <% if Menu.find_by(id: @menu.id + 1) %>
        <%= link_to next_menu_path(@menu), remote: true do %>
          <i class="arrow fa fa-arrow-circle-right"></i>
        <% end %>
      <% end %>
    </span>
  </h1>
  <div class="row">
    <div class="col-md-12 text-center site-animate">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <p class="menu-info">
            <%= @menu.description %>
            <br>
            <%= @menu.price %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% @menu.sections.each do |section| %>
    <div class="row">
      <div class="col-12">
        <hr>
        <h5 class="h3 section-title text-center"><%= section.title %></h5>
      </div>
      <br>
      <% section.dishes.each do |dish| %>
      <%# byebug %>
        <%# if section.dishes.length === 1 %>
          <!-- <div class="col-12"> -->
        <%# else %>
        <div class="col-md-6 col-lg-4">
        <%# end %>
          <div class="media menu-item">
            <div class="media-body">
              <h5 class="mt-0 dish-title"><%= dish.title %></h5>
              <h6 class="text-primary dish-price"><%= dish.price %></h6>
              <p class="dish-description"><%= dish.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
