<section>
  <div class="container text-center">
    <h2 class="display-4 mb-3">Edit <%= @menu.title %></h2>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <%= simple_form_for @menu do |f| %>
          <%= f.input :title %>
          <%= f.input :description, as: :text %>
          <%= f.input :price, as: :text %>
          <%= link_to 'Cancel', menu_path(@menu), class: 'btn btn-outline-danger' %>
          <%= f.button :submit, "Save", class:'btn btn-primary' %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</section>
