<section>
  <div class="container text-center">
    <h2 class="display-4 mb-3">New Menu</h2>
    <p class="menu-info">Enter the menu details below. Only title is mandatory. Description and price are optional.</p>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <%= form_with model: @menu, url: menus_path, local: true do |form| %>
          <p>
            <%= form.label :title, class: 'dish-title' %><br>
            <%= form.text_field :title, class: 'menu-input' %>
          </p>

          <p>
            <%= form.label :description, class: 'dish-title' %><br>
            <%= form.text_area :description, class: 'menu-input' %>
          </p>

          <p>
            <%= form.label :price, class: 'dish-title' %><br>
            <%= form.text_area :price, class: 'menu-input' %>
          </p>
          <p>
            <%= link_to 'Cancel', menus_path, class: 'btn btn-outline-danger' %>
            <%= form.submit 'Create', class: 'btn btn-primary' %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</section>







