<h1>
  <%= @menu.title %>
  <%= link_to 'Delete menu', @menu, {method: 'delete', remote: true, data: {confirm: "Are you sure?"}} %>
</h1>
<h3><%= @menu.price %></h3>
<h5><%= @menu.description %></h5>
<ul>
  <% @menu.sections.each do |section| %>
    <li>
      <%= section.title %> <%= link_to "Delete", section, {method: 'delete', remote: true, data: {confirm: "Are you sure?"}}  %>
      <ul>
        <% section.dishes.each do |dish| %>
          <li>
            <%= dish.title %>
            <%= dish.description %>
            <%= dish.price %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
<%= link_to "Edit Menu", edit_menu_path %>
