<section class="login">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="d-flex col-lg-6 col-md-8">
        <div class="form-container">
          <%= link_to "Back to All Menus", menus_path %>
          <h1 class="mt-5">
            <%= @menu.title %>
            <%= link_to edit_menu_path do %>
              <i class="fa fa-edit"></i>
            <% end %>
            <%= link_to @menu, {method: 'delete', remote: true, data: {confirm: "Are you sure?"}} do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </h1>
          <h3><%= @menu.price %></h3>
          <h4><%= @menu.description %></h4>

          <hr>

          <%= link_to new_menu_section_path(@menu), remote:true do %>
            <h4><i class="fa fa-plus"></i> New Section</h4>
          <% end %>

          <ul>
            <%=  render @menu.sections %>
          </ul>

          <hr>

          <div id="section-form" style="display:none;"></div>
          <div id="section-edit-form" style="display:none;"></div>

          <div id="dish-form" style="display:none;"></div>
        </div>
      </div>
    </div>
  </div>
</section>



