<h1>Add a new Section to <%= @menu.title %></h1>
<%= simple_form_for [@menu, @section], remote: true do |f| %>
  <%= f.input :title %>
  <%= f.button :submit %>
  <%= link_to "Cancel", :back %>
<% end %>
