<section class="login">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="d-flex col-lg-6 col-md-8">
        <div class="form-container">
          <h3>Login</h3>
          <p>Please enter your email and password to access the admin area</p>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs text-right">
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          label: 'Email:-',
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          required: false,
                          label: 'Password:-',
                          input_html: { autocomplete: "current-password", class: "text-right" } %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Log in", class: 'btn-primary m-3' %>
            </div>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</section>
