<div class="dish text-left">

  <h5 class="dish-title d-flex justify-content-between">
    <div class="">
      <%#= dish.sort %>
      <%= dish.title %> - <%= dish.price %>
    </div>
    <div class="controls">
      <%= link_to up_dish_path(@menu, section, dish), {method: 'patch', remote: true} do %>
        <i class="fa fa-arrow-up"></i>
      <% end %>
      <%= link_to down_dish_path(@menu, section, dish), {method: 'patch', remote: true} do %>
        <i class="fa fa-arrow-down"></i>
      <% end %>
      <%= link_to edit_menu_section_dish_path(@menu, section, dish) do %>
        <i class="fa fa-edit"></i>
      <% end %>
      <%= link_to remove_dish_path(@menu, section, dish), {method: 'delete', remote: true, data: {confirm: "Are you sure you want to delete '#{dish.title}'?"}} do %>
        <i class="fa fa-times"></i>
      <% end %>
    </div>
  </h5>
  <p class="dish-description">
    <%= dish.description %>
  </p>
</div>
