<section>
  <div class="container text-center">
    <h2 class="display-4 mb-3">New Dish for <%= @section.title %></h2>
    <p class="menu-info"></p>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <%= simple_form_for [@menu, @section, @dish], remote: true do |f| %>
          <%= f.label :title, class: 'dish-title' %>
          <%= f.input :title, class: 'menu-input' %>
          <%= f.label :description, class: 'dish-title' %>
          <%= f.input :description, class: 'menu-input' %>
          <%= f.label :price, class: 'dish-title' %>
          <%= f.input :price, class: 'menu-input' %>
          <%= link_to "Cancel", :back, class: 'btn btn-outline-danger' %>
          <%= f.button :submit, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
